.container {
  display: flex;
  width: 100%;
  padding: 0 12px;

  .image {
    width: 100%;
    // background-color: blue;
    object-fit: cover;
    object-position: center;
  }
  .imageHor {
    height: 64px;
    width: 112px;
    margin-right: 20px;
  }
  .imageVer {
    height: 192px;
  }
}
.horizontal {
  flex-direction: row;
}
.vertical {
  flex-direction: column;
}

.textWrapper {
  .title {
    font-size: 15px;
    color: black;
    font-weight: 700;
  }
  .info {
    display: flex;
    gap: 20px;
    span {
      font-size: 12px;
      color: #9f9f9f;
    }
  }
}
